################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ag-UI/FileContentIndex
/.vs/Ag-UI/FileContentIndex
/.vs/Ag-UI/v17/.wsuo
/.vs/Ag-UI/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
