################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ag-UI/FileContentIndex
/.vs/slnx.sqlite
